@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #0A3871;
    --color-secundario: #F3F5FC;
    --color-shadow:  grey;
    --fuente-inter:  "Inter", sans-serif;;
}

*{
    margin:0%;
    padding: 0%;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    
}
body{
    background-image: url(./assets/vecteezy_hand-painted-colourful-watercolour-background_12759364.jpg)
}
.encabezado{
    padding-top: 20px;
    margin-left: 40px;
    width: 10%;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primario);
}
main{ 
    display: flex;
    margin-left: 10%;
    margin-bottom: 72px;
    gap: 90px;
}

.text-area{
    width: 80%;
    margin: 90px 40px;
    resize: none;
    background-color: transparent;
    color: var(--color-primario);
    text-transform: lowercase;
    border: none;
}
::placeholder{color: var(--color-primario);}
 .text-area:focus{
    outline: none;
 }


 .botones{
    display: flex;
    margin-top: 10px;
    gap: 80px;
}

.botones__encriptar{
    background-color: var(--color-primario);
    padding: 3%;    
    width: 200px;
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    font-size: 1rem;
    color: var(--color-secundario);
    text-align: center; 
    cursor: pointer;
 }

 .botones__desencriptar{
    padding: 3%;
    width: 200px;
    background-color: transparent;
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    color: var(--color-primario);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    
 }

.desencriptador{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    background-color: transparent;
    background-image: url(./assets/Muñeco.png);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 400px;
    height: 550px;
    box-shadow: 5px 5px 5px var(--color-shadow);
    margin-top: 0;
    margin-left: 50px;
    padding-left: 20px;
    color: var(--color-primario);
    border: none;
    border-radius: 32px;
    gap: 20px;
}

.desencriptador:focus{
    outline: none;
}

.mensaje{
    width: 70%;
    height: 70%;
    margin-top: 10px;
    background-color: transparent;
    resize: none;
    color: var(--color-primario);
    text-transform: lowercase;
    border: none;
}


.botones__copiar{
    padding: 3%;
    width: 170px;
    background-color: transparent;
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    color: var(--color-primario);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
 }

 .footer{
    padding: 10px;
    width: 100%;
    text-align: center;
 }

 .links{
    width: 35px;
    padding: 10px;
    cursor: pointer;
 }

 /* Media query para tablets */
 @media only screen and (min-width: 600px) and (max-width: 1024px){
    .encabezado{
        margin-left: 5px;
    }
    
    main{
        flex-direction: column;
        align-items: center;
        margin: 10% auto;
        gap: 90px;
    }
    
    .desencriptador{
        flex-direction: column;
        align-items:center;
        background-image: none;
        width: 80%;
        height: 250px;
        box-shadow: 5px 5px 5px var(--color-shadow);
        margin-bottom: 0%;
    }

    ::placeholder{
        text-align: center;
    }
    .botones__copiar{
        width: 200px;
        margin: 30px;
     }
 }

 /* Media query para smartphones */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    
}